meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
title {{pageTitle}}
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
script(type='text/javascript', src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js")
link(rel='shortcut icon', type='image/x-icon', href='../image/favicon.ico')
link(rel='stylesheet', href='../stylesheets/network.css')
