#navigation
        .container
          .nav
            ul
              li
                a(href='/search') Personas
              li
                a(href='/vehicles', ng-class='vehicle') Carros
              li
                a(href='/network', ng-class='network') Redes
              li
                a(href='/statistics', ng-class='statistic') Estadísticas
              li
                a(href='/logout') Salir  
            .clear